extends layout

block content

  h1 #{author.name}
  p #{author.lifespan}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Libros
    
    dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p Este autor no tiene libros.
  
  div(class="icon-return")
    a(href='/catalog/authors' data-toggle="tooltip" data-placement="left" title="Regresar" class="btn previous")  &laquo; Regresar
