extends layout

block content


  h3 #{book.title}
  

  
  if book_instance.length
  
    p Debes borrar todas las copias antes de poder eliminar el libro.
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Copias
    
      each book_copy in book_instance
        hr
        if book_copy.status=='Disponible'
          p.text-success #{book_copy.status}
        else if book_copy.status=='Mantenimiento'
          p.text-danger #{book_copy.status}
        else
          p.text-warning #{book_copy.status} 
        p #[strong Síntesis:] #{book_copy.imprint}
        if book_copy.status!='Disponible'
          p #[strong Disponible para:] #{book_copy.due_back_formatted}
        p #[strong Id:] 
          a(href=book_copy.url) #{book_copy._id}

  else
    p Estas seguro que quieres eliminar este libro?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=book._id )

      button.btn.btn-danger(type='submit') Eliminar
  
  div(class="icon-return")
    a(href='/catalog/books' data-toggle="tooltip" data-placement="left" title="Regresar" class="btn previous") &laquo; Regresar
